<form [formGroup]="form" *ngIf="!showSuccessMsg">

    <multi-form *ngIf="inputToShow === 'name'"
      [type]="'text'"
      [label]="'Name'"
      [btnTxt]="'Next'"
      [value]="name?.value"
      (onInputDataSend)="inputDataChanged($event)"
      (onBackLinkCliked)="changeInputToShow($event)"
    />

    <multi-form *ngIf="inputToShow === 'email'"
      [type]="'email'"
      [label]="'Email'"
      [btnTxt]="'Next'"
      [value]="email?.value"
      (onInputDataSend)="inputDataChanged($event)"
      (onBackLinkCliked)="changeInputToShow($event)"
    />

    <multi-form *ngIf="inputToShow === 'birthday'"
      [type]="'date'"
      [label]="'Birthday'"
      [btnTxt]="'Next'"
      [value]="birthday?.value"
      (onInputDataSend)="inputDataChanged($event)"
      (onBackLinkCliked)="changeInputToShow($event)"
    />

    <multi-form *ngIf="inputToShow === 'password'"
      [type]="'password'"
      [label]="'Password'"
      [btnTxt]="'Submit'"
      [value]="password?.value"
      (onInputDataSend)="inputDataChanged($event)"
      (onBackLinkCliked)="changeInputToShow($event)"
    />

    
</form>

<label *ngIf="showSuccessMsg">Success</label>
